.movies-container{

    display: grid;
    grid-template-columns: repeat(6, 1fr);

    .search{

        grid-column: 1/7;

        input{

        }

        section{

            button{

                &:first-of-type{

                }

                &:last-of-type{
                    
                }
            }
        }
    }

    .movies{

        display: flex;
        flex-wrap: wrap;
        grid-column: 2/7;
    }

    .filters{

        grid-column: 1/2;
    }
}